body {
    background: #333;
    overflow-x: hidden;
    margin: 0;
}

.body-wrapper {
    width: 800px;
    height: 1500px;
    margin: 0 auto;
    background-color: #90D4ED;
    background-image: linear-gradient(#90D4ED, #B3D8E5);
    overflow: hidden;
    position: relative;
}

.bird {
    animation: fly linear 0.5s infinite alternate;
}

.bird-wrapper {
    display: block;
    position: absolute;
    width: 200px;
}

.bird-wrapper-1 {
    animation-name: moveToRight;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    top: 500px;
    left: -200px;
}

.bird-wrapper-2 {
    animation-name: moveToLeft;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    top: 750px;
    right: -200px;
    width: 100px;
    height: auto;
}

.bird-wrapper-3 {
    animation-name: moveToLeft;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 3s;
    top: 900px;
    right: -200px;
}

.cloud {
    animation: fly linear 7s infinite alternate;
}

.cloud-wrapper {
    display: block;
    position: absolute;
    width: 150px;
}

.cloud-wrapper-1 {
    animation-name: moveToRight;
    animation-duration: 100s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    top: 200px;
    left: 0;
}

.cloud-wrapper-2 {
    animation-name: moveToLeft;
    animation-duration: 100s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    top: 300px;
    right: 0;
}

.cloud-wrapper-3 {
    animation-name: moveToLeft;
    animation-duration: 100;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    top: 150px;
    right: 10px;
}

.cloud-wrapper-4 {
    animation-name: moveToLeft;
    animation-duration: 100;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    top: 200px;
    left: 50px;
}

.cloud-wrapper-5 {
    animation-name: moveToLeft;
    animation-duration: 100;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    top: 550px;
    right: 300px;
}

.cloud-wrapper-6 {
    animation-name: moveToRight;
    animation-duration: 150s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    top: 180px;
    left: 0;
}

.ground {
    height: 100%;
    overflow: hidden;
    position: relative;
    display: block;
}

.layer {
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.sun {
    height: 230px;
    width: auto;
    left: 500px;
    bottom: 450px;
}

.hill2 {
    height: auto;
    bottom: 100px;
}

.hill1 {
    height: auto;
    bottom: -50px;
}

.castle {
    height: 300px;
    width: auto;
    left: 390px;
    bottom: 280px;
}

.frame {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;

}

/* ELEVATOR */
/* Controls on the elevator page (/index) */
.controls {
    display: grid;
    grid-template-columns: 1;
    grid-row-gap: 10px;
    left: 20px;
    position: fixed;
    top: 20px;
}

/* Controls on the "remote" control page (/control) */
.remote-control-controls {
    align-items: center;
    display: grid;
    grid-template-columns: 1;
    grid-row-gap: 20px;
    justify-items: center;
    padding-top: 20px;
}

.remote-control-controls .control {
    height: 245px;
    width: 245px;
    font-size: 90px;
}

/* https://www.w3schools.com/csSref/css3_pr_animation-keyframes.asp */
@keyframes fly {
    0% {
        transform: translateY(15%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes moveToLeft {
    0% {
        right: -500px;
        transform: scaleX(-1);
    }

    50% {
        right: calc(100% + 500px);
        transform: scaleX(-1);
    }

    51% {
        right: calc(100% + 500px);
        transform: scaleX(1);
    }

    100% {
        right: -500px;
        transform: scaleX(1);
    }
}

@keyframes moveToRight {
    0% {
        left: -500px;
        transform: scaleX(1);
    }

    50% {
        left: calc(100% + 500px);
        transform: scaleX(1);
    }

    51% {
        left: calc(100% + 500px);
        transform: scaleX(-1);
    }

    100% {
        left: -500px;
        transform: scaleX(-1);
    }
}
